<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="croapp_config" translate="label" sortOrder="1000">
            <label>CRO App / GA 4</label>
        </tab>
        <section id="croapp" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>CRO App / GA 4 Configuration</label>
            <tab>croapp_config</tab>
            <resource>Croapp_Integration::config</resource>
            <group id="configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CRO App / GA 4 Configuration</label>
                <comment></comment>
                <field id="gaId" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Id</label>
                    <comment>Get it from GA -> Data Streams -> Tag Instructions.</comment>
                </field>
            </group>
        </section>
    </system>
</config>