<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="croapp_config" translate="label" sortOrder="1000">
            <label>CRO App / GA 4</label>
        </tab>
        <section id="croapp" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>CRO App / GA 4 Configuration</label>
            <tab>croapp_config</tab>
            <resource>Croapp_Integration::config</resource>
            <group id="ga_configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GA-4 Configuration</label>
                <comment></comment>
                <field id="gaId" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GA-4 Measurement ID</label>
                    <comment>Get it from GA -> Admin -> Property -> Data Streams -> Measurement ID.</comment>
                </field>
            </group>
            <group id="croapp_configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CRO App Configuration</label>
                <comment><![CDATA[Optional, contact help@croapp.com - <a href="https://croapp.com/">CROApp.com</a>]]></comment>
                <field id="cappEnabled" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable CRO App</label>
                    <comment>
                        <![CDATA[
                            Increase your sales with <a href="https://croapp.com/cro-social-proof?utm_source=magento2" target="_blank">CRO Social Proof</a> - the easiest way to build trust and boost conversions!
                            <br/><br/><strong style="color:red">Limited Offer!</strong> - Launch <a href="https://croapp.com/cro-social-proof?utm_source=magento2 target="_blank"">Social Proof</a> For <strong style="color:red">FREE</strong>, Easy setup, no coding needed!
                            <br/> Contact - help@croapp.com for more info.
                        ]]>
                    </comment>
                    <source_model>Croapp\Integration\Model\CappEnabled</source_model>
                </field>
                <field id="accountId" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cro App Account ID</label>
                    <comment>Contact - help@croapp.com</comment>
                </field>
            </group>
        </section>
    </system>
</config>